.genius{
    display: grid;
    grid-template-areas: 'genius-green genius-red'
    'genius-yellow genius-blue';
    grid-gap: 10px;
    border: 10px solid rgb(17, 17, 17);
    background-color: white;
    border-radius: 100%;
    width: 700px;
    height: 700px;
    
}
